body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #242424;
}
img {
  max-width: 100%;
  height: auto;
}
.product-section {
  padding: 2rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2e2e2e;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card img {
  padding: 0px;
  width: 220px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 1rem;
}
