/*import './ItemListContainer.css';
import { useState, useEffect } from "react";

export default function ItemListContainer(props) {
const [products, setProducts] = useState([]);
useEffect(() => {
  fetch("https://fakestoreapi.com/products")
  .then(response => response.json())
  .then(data => {
        console.log("Datos de la API:", data); 
        setProducts(data); 
      })
  .catch(error => console.error("Error al obtener los productos:", error));
}, []);
  return (
    <section>
      <h1>{props.greeting}</h1>
      <h2>Productos</h2>
      {products.map(product => (
        <div key={product.id}>
          <h3>{product.title}</h3>
          <img src={product.image} alt={product.title} />
          <p>Precio: ${product.price}</p>
          <p>{product.description}</p>
        </div>
      ))}
    </section>
    
  );
}
*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #9edaa6;
}

.product-section {
  padding: 2rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.product-card {
  background-color:#84d387;
  padding: 1rem;
  border: 3px solid #000000;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 1rem;
}
